      # Set default behavior for all files
      * text=auto

      # Explicitly declare text files you want to always normalize line endings
      *.c text
      *.cpp text
      *.h text
      *.java text
      *.js text
      *.json text
      *.md text
      *.txt text

      # Declare files that will always have CRLF line endings on checkout
      *.bat text eol=crlf

      # Declare files that will always have LF line endings on checkout
      *.sh text eol=lf