:root {
    --company-color: #800020;
    --company-color-hover: #a00030;
}

/* Login Form Styles */
.login-form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: var(--company-color);
    outline: none;
}

.input-group input:focus::placeholder,
.input-group input:not(:placeholder-shown)::placeholder {
    transform: translateY(-20px);
    font-size: 12px;
    color: var(--company-color);
}

.input-group input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

.login-button, .googleLoginButton {
    width: 100%;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.login-button {
    background-color: var(--company-color);
    color: white;
}

.login-button:hover {
    background-color: var(--company-color-hover);
}

.googleLoginButton {
    background-color: #4285F4;
    color: white;
}

.googleLoginButton:hover {
    background-color: #357AE8;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #999;
    width: 100%;
}

.divider::before,
.divider::after {
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: #ccc;
    vertical-align: middle;
    margin: 0 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .login-form {
        padding: 0 20px;
        box-sizing: border-box;
    }
    .login-button, .googleLoginButton {
        width: 100%;
        max-width: none;
    }
    .divider {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .divider::before,
    .divider::after {
        flex-grow: 1;
        max-width: 60px; /* Shortened divider lines */
    }
    .divider::before {
        margin-right: 10px;
    }
    .divider::after {
        margin-left: 10px;
    }
}